<!DOCTYPE html>
<html ng-app="hypertext">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="./lib/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>hypertext</title>
  </head>
  <body class="center" ng-controller="MainController">
    <h1 class="background-counter font-elite" ng-hide="!countDownTimer">{{counter}}</h1>
    <h1 class="font-elite title">hypertext</h1>
    <hr class="ruler spacer">
    <button type="button" ng-click="countDown()" ng-hide="start" class="start-button center spacer">Click for countdown!</button>
    <button type="button" ng-click="resetGame()" class="start-button center spacer" ng-hide="!finish">Reset</button>
    <div ng-hide="!counter || !start">
      <h5 class="spacer">Please type the following:</h5>
      <h2 class="spacer font-elite">{{ wordArray[wordNumber] }}</h2>
    </div>
    <input class="font-elite input" ng-model="answer" ng-keyup="checker()"></input>
    <div ng-hide="!start || !counter">
      <h5>Current Score: {{ score }}</h5>
      <h5 class="spacer">Time Left: {{ counter }}</h5>
    </div>
    <h2 class="spacer" ng-hide="!finish">Game Over! Final Score is: {{score}}</h2>
    <!-- Scripts -->
    <script type="text/javascript" src="./js/app.js"></script>
  </body>
</html>
