
/********************************************
Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*=================================*/

textarea {
  border: none;
  outline: none;
  resize: none;
  font-family: 'Special Elite', cursive;
}

h1 {
  margin-top: 2%;
}

h3 {
  margin-bottom: 2%;
  font-family: Helvetica;
  font-weight: lighter;
}
.title {
  text-shadow: 2px 2px 2px #888888;
}

.background-counter {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 100vh;
  color: rgba(0, 0, 0, 0.45);
  z-index: -10;
}

.start-button {
  display: block;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: Courier;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.font-elite {
  font-family: 'Special Elite', cursive;
}

.input {
  font-size: 18px;
  width: 350px;
  min-height: 40px;
  border: 4px outset grey;
  margin-bottom: 2%;
}

.ruler {
  width: 200px;
  border-color: black;
  box-shadow: 2px 2px 2px #888888;
}

.spacer {
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  .background-counter {
    font-size: 80vh;
  }
  .spacer {
    margin-bottom: 5%;
  }
}
